@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #272829;
}

.navbar {
  display: flex;
  padding: 0px 4%;
  justify-content: space-between;
  align-items: center;
  border-radius: 0;
  background-color: black;
}

.logo {
  max-height: 100px;
  height: 75px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: gray;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.3s ease;
}

.nav-links ul li a:hover {
  color: #ac915d;
}

.nav-links ul li a.active {
  color: white;
}

/* BANNER */
.banner {
  padding: 10rem 0;
  background-image: url("images/image26.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner__container {
  text-align: center;
  color: var(--white);
  font-family: var(--header-font);
}

.banner__container h1 {
  font-size: 5rem;
  font-weight: 400;
  color: #ac915d;
}

.banner__container p {
  font-size: 1.5rem;
  color: white;
}
/* Contact Form */

.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: #1f2021;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
}

.left-side,
.right-side {
  flex: 1;
  padding: 20px;
}
.Title h1 {
  font-size: 30px;
  margin-bottom: 20px;
  color: white;
}

form {
  display: grid;
  gap: 15px;
  max-width: 400px;
  /* width: 100%; */
}

input,
textarea {
  width: 470px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 14px;
}

input[type="submit"] {
  background-color: #808183;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background-color: #272829;
}

/* FOOTER SECTION */
.content6 {
  background: #1d1d1d;
  display: flex;
  flex-direction: column;
  height: 303px;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #fddea2;
  gap: 150px;
  padding-bottom: 20px;
}

/* Upper Text */
.footer .col h4 {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  color: #fddea2;
  margin-bottom: 20px;
  font-weight: 500;
  position: relative;
}

/* Line Below */
.footer .col h4::before {
  content: "";
  position: absolute;
  left: 0;
  top: 30px;
  background-color: white;
  height: 5%;
  width: 50px;
}

/* Removes list style */
.footer ul {
  list-style: none;
}

/* Text Animation */
.footer ul li {
  padding: 1px;
  transition: transofmr 0.3 ease;
}

.footer ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
}

.footer ul li {
  transition: transform 0.3s ease;
}

.footer ul li a:hover {
  transform: translateX(5px);
  color: #ac915d;
}

/* Social Links */

.Logos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.social-links a:hover {
  color: #ac915d;
  transform: scale(1.2); /* Increase size on hover */
}

.copyright {
  color: white;
}
